<div>

    <div class="portfolio_tags_bar">
        <div class="container">
            <ul>
                 <li>
                     <button ng-click="myFilter()">All</button>
                </li>
                <li ng-repeat="tag in portfolio.tags">
                    <button ng-click="myFilter(tag.name)" >{{ tag.name }}</button>
                </li>
            </ul>
        </div>
    </div>
    {{ portfolio.projects }}
    <div  class="container portfolio">

        <div mixitup='mixitup' class="row_masonry grid col-md-12">

            <div ng-animate="animate" class="{{ rowClass(project) }} {{ check(rowClass(project)) }} grid-item col-md-3 col-sm-6"  ng-repeat="project in portfolio.projects | filter:{ category: filter_tag }" >

                    <img src="{{ project.img_url }}" alt="">
                <div class="desc">
                </div>
                <div class="overlay-item col-md-12">
                    <h2 ng-click="portfolio.open_project(project._id)" >{{ project.title }}</h2>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="portfolioPopup.html">
            <div class="portfolio_popup">
                <div class="modal-header">
                    <h3 class="modal-title">{{ project.title }}</h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 popup_img"><img ng-src="{{ project.img_url }}"/></div>
                    <div class="col-md-12 popup_text">
                        <div ng-bind-html="project.description" class="content"></div>
                        <div class="content"><a target="_blank" href="{{ project.project_url }}">{{ project.project_url }} </a></div>
                    </div>
                </div>
                <span class="close_button" type="button" ng-click="cancel()">X</span>
            </div>
        </script>
    </div>
</div>